{
  "env": {
    "node": true
  },
  "extends": ["airbnb-base", "eslint:recommended", "eslint-config-prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["import", "prettier"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "always",
        "json": "never"
      }
    ],
    "import/no-dynamic-require": 0,
    "global-require": 0,
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    "no-await-in-loop": 0,
    "no-restricted-syntax": 0,
    "no-return-await": 0,
    "no-console": 0,
    "prettier/prettier": "warn"
  }
}
